<div class="max-w-sm w-full lg:max-w-full lg:flex">
	<div>
		<img alt="thumbnail" src="%image%" class="w-48 h-48 object-cover"/>
	</div>
	<a
			class="border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 bg-white rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal"
			href="http://localhost:8080/posts/%post_id%"
	>
		<div class="mb-8">
			<div class="text-gray-900 font-bold text-xl mb-2">%title%</div>
			<p class="text-gray-700 text-base">
				%body%
			</p>
		</div>
		<div>
			%tags%
		</div>
		<div class="flex items-center">
			<img class="inline-block h-8 w-8 rounded-full ring-2 ring-white mr-4"
					src="%user-avatar%"
					alt="">
			<p>%user-name%</p>
		</div>
	</a>
</div>
