<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<title>kenshu-backend-php</title>
	<script src="https://cdn.tailwindcss.com"></script>
	<script>
			async function fetchWithRedirect(method, url, body) {
				const res = await (await fetch(url, {
					method: method,
					headers: {'Content-Type': 'application/json'},
					body: JSON.stringify(body)
				})).json()
				console.log(res)

				window.location.replace(res.redirectUrl);
			}

			async function updatePost(doc) {
				const title = doc.getElementById("post-title").value;
				const body = doc.getElementById("post-body").value;

				const pathList = location.pathname.split("/");
				const postId = pathList[pathList.length - 2];
				const url = `http://localhost:8080/posts/${postId}/edit`;
				const bodyData = {
					postId,
					title,
					body,
					thumbnail_id: 1,
				}

				await fetchWithRedirect("PATCH", url, bodyData)
			}
	</script>
</head>
<body class="mx-auto max-w-4xl">
<header class="mt-5 mb-10">
	<h1 class="text-4xl font-bold">Kenshu backend php</h1>
</header>
<main>
	<div class="w-2/5">
		<label for="post-title" class="block text-base font-semibold"
		>タイトル</label
		>
		<div class="mt-1">
			<input
					id="post-title"
					aria-label="title for post"
					type="text"
					name="post-title"
					class="mt-1 block w-full px-3 py-2 bg-white border border-slate-300 rounded-md text-sm shadow-sm placeholder-slate-400 focus:outline-none focus:border-sky-500 focus:ring-1 focus:ring-sky-500"
					value="%title%"
			/>
		</div>
		%invalid_title%
		<div class="mt-6">
			<label for="post-body" class="block text-base font-semibold"
			>本文</label
			>
			<div class="mt-1">
				<input
						id="post-body"
						aria-label="body for post"
						type="text"
						name="post-body"
						class="mt-1 block w-full px-3 py-2 bg-white border border-slate-300 rounded-md text-sm shadow-sm placeholder-slate-400 focus:outline-none focus:border-sky-500 focus:ring-1 focus:ring-sky-500 disabled:bg-slate-50 disabled:text-slate-500 disabled:border-slate-200 disabled:shadow-none invalid:border-pink-500 invalid:text-pink-600 focus:invalid:border-pink-500 focus:invalid:ring-pink-500"
						value="%body%"
				/>
			</div>
		</div>
		%invalid_body%
		<button
				class="mt-5 bg-sky-500 hover:bg-sky-700 px-5 py-2 text-sm leading-5 rounded font-semibold text-white"
				onclick="updatePost(document)"
		>
			送信する
		</button>
	</div>
</main>
</body>
</html>
