<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<title>kenshu-backend-php</title>
	<script src="https://cdn.tailwindcss.com"></script>
	<script>
		const pathList = location.pathname.split("/");
		const postId = pathList[pathList.length - 1];
		const url = `http://localhost:8080/posts/${postId}/edit`;

		window.addEventListener('DOMContentLoaded', () => {
			const form = document.querySelector("form");
			form.action = url;
		})

		const getPostEditPage = async () => {
			window.location.replace(url);
		}

	</script>
</head>
<body class="mx-auto max-w-4xl">
<header class="mt-5 mb-10">
	<h1 class="text-4xl font-bold">Kenshu backend php</h1>
</header>
<main>
	<label for="title" class="font-bold">title:</label>
	<h2 id="title">%title%</h2>
	<label for="body" class="font-bold">body:</label>
	<p id="body">%body%</p>
	<div class="font-bold">tags</div>
	<div>%tags%</div>
	<div class="font-bold">images</div>
	<div class="flex">%images%</div>
	<div class="font-bold">user</div>
	<div class="flex items-center">
		<img class="inline-block h-8 w-8 rounded-full ring-2 ring-white mr-4"
				src="%user-avatar%"
				alt="user avatar">
		<p>%user-name%</p>
	</div>
	<!-- TODO: Display only when user is logged in -->
	<button onclick="getPostEditPage()">編集</button>
	<!-- TODO: Display only when user is logged in -->
	<form method="post" action="">
		<input hidden id="_method" name="_method" value="DELETE"/>
		<button type="submit">削除</button>
	</form>
</main>
</body>
</html>
