<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<title>kenshu-backend-php</title>
	<script src="https://cdn.tailwindcss.com"></script>
	<script>
		const pathList = location.pathname.split("/");
		const postId = pathList[pathList.length - 1];
		const url = `http://localhost:8080/posts/${postId}/edit`;

		window.addEventListener('DOMContentLoaded', () => {
			const form = document.querySelector("form");
			form.action = url;
		})

		const getPostEditPage = async () => {
			window.location.replace(url);
		}

	</script>
</head>
<body class="mx-auto max-w-4xl">
<header class="mt-5 mb-10">
	<h1 class="text-4xl font-bold">Kenshu backend php</h1>
</header>
<main>
	<div>Regist User</div>
</main>
</body>
</html>
